In [1]:
import pandas as pd
import os

In [2]:
raw_data_url = 'https://gist.githubusercontent.com/bobbae/b4eec5b5cb0263e7e3e63a6806d045f2/raw/279b794a834a62dc108fc843a72c94c49361b501/data.csv'
df_data = pd.read_csv(raw_data_url)

In [3]:
# Count total number of rows 
print(df_data.shape[0])

25500

In [4]:
def isFloat(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

In [5]:
df_numeric = df_data[df_data['Profit (in millions)'].apply(lambda x: isFloat(x))]

In [6]:
# Count total rows where value of profit is numeric
print(df_numeric.shape[0])

25131

In [7]:
data2 = df_numeric.sort_values(by='Profit (in millions)', ascending = False)

In [8]:
with open(os.path.join(os.getcwd(), 'data2.json'), 'w') as outfile:
    outfile.write(data2.reset_index(drop=True).to_json(orient='records'))

In [9]:
# Top 20 rows with valid 'profit' numeric values
print(data2.head(20).reset_index(drop=True))

    Year  Rank                       Company  Revenue (in millions)  \
0   2004    46                     Microsoft                32187.0
1   1999   315                       Gannett                 5121.3
2   1999   238                       KeyCorp                 7100.0
3   2001   222       St. Paul Travelers Cos.                 8607.6
4   1997   228        PNC Financial Services                 6333.8
5   1969    54           International Paper                 1561.8
6   2002   222                   SCI Systems                 8713.9
7   2003   318                Barnes & Noble                 5269.3
8   1980   149                Nabisco Brands                 2362.0
9   1991   249   National Service Industries                 1647.8
10  1994   346             Applied Materials                 1080.0
11  1979   141                     Whirlpool                 2082.9
12  1997   440           Oxford Health Plans                 3075.0
13  2003   500                 Neiman Marcus                 2948.3
14  1977    85              General Dynamics                 2553.5
15  1985   133        Combustion Engineering                 3057.5
16  1975    80  Burlington Industries Equity                 2330.0
17  2003   282             Interpublic Group                 6203.6
18  1976    55                Ralston Purina                 3149.1
19  1976    44                 General Foods                 3675.1

   Profit (in millions)
0                  9993
1                 999.9
2                   996
3                 993.5
4                 992.2
5                  99.9
6                  99.9
7                  99.9
8                  99.8
9                  99.7
10                 99.7
11                 99.6
12                 99.6
13                 99.6
14                 99.6
15                 99.6
16                 99.5
17                 99.5
18                 99.5
19                 99.4